<html>

<body>
    Enter text you want to convert <input type="text" id="textToConvert">
    <button onclick="convert()">Convert</button>
    <p>Text in Morse Code: </p>
    <p id="newText"></p>
    <script>
        function convert() {
            var letters = [' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0'];
            var morseLetters = ["\xa0", ".-", "-...", "-.-.", "-..", ".",
                "..-.", "--.", "....", "..", ".---", "-.-", ".-..", "--",
                "-.", "---", ".--.", "--.-", ".-.", "...", "-", "..-", "...-",
                ".--", "-..-", "-.--", "--..", ".----", "..--", "...--",
                "....-", ".....", "-....", "--...", "---..", "----.", "-----"];

            var textToChange = document.getElementById("textToConvert").value;
            var newText = "";
            var newText2 = "";
            for (var i = 0; i < textToChange.length; i++) {
                for (var j = 0; j < 37; j++) {
                    if (textToChange[i].toLowerCase() == letters[j]) {
                        newText += morseLetters[j];
                        newText += "";
                        break;
                    }
                }
            }
            for (var i = 0; i < newText.length; i++) {
                if (newText[i] == '.') {
                    newText2 += '0';
                }
                else if (newText[i] == '-') {
                    newText2 += '1';
                }
                else{
                    newText2 += '2';
                }

            }
            console.log(newText);
            console.log(newText2);
            document.getElementById("newText").innerHTML = newText;
        }
    </script>
</body>

</html>